kestra/insurance_flow.yaml
id: claim-adjudication-flow
namespace: claimguard.insurance

description: |
  Built for Assemble Hack 2025 using Kestra + OpenAI

labels:
  project: ClaimGuard AI
  hackathon: Assemble Hack 2025
  version: "6.0-simplified"


inputs:
  - id: receipt_file
    type: FILE
    description: Upload a receipt image (JPG, PNG)
  
  - id: patient_name
    type: STRING
    description: Patient name for the claim
    defaults: "Policy Holder"
  
  - id: sum_insured
    type: FLOAT
    description: Insurance sum insured amount (INR)
    defaults: 500000

tasks:
  - id: stage1_validate_file
    type: io.kestra.plugin.core.log.Log
    description: "Stage 1: Validate the uploaded receipt file"
    message: |
      ========================================================================
      STAGE 1: FILE VALIDATION
      ========================================================================
      Receipt file received
      Patient: {{ inputs.patient_name }}
      Sum Insured: Rs.{{ inputs.sum_insured }}
      File validation passed - proceeding to AI analysis

  - id: stage2_vision_agent
    type: io.kestra.plugin.scripts.shell.Commands
    description: "Stage 2: AI-powered fraud detection and data extraction"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      pullPolicy: IF_NOT_PRESENT
      networkMode: docker_claimguard-net
    containerImage: alpine/curl:latest
    inputFiles:
      receipt.jpg: "{{ inputs.receipt_file }}"
    outputFiles:
      - "vision_result.json"
    commands:
      - echo "========================================================================"
      - echo "STAGE 2 - VISION AGENT"
      - echo "========================================================================"
      - echo "Sending receipt to AI Vision Agent..."
      - |
        # Make API call and capture HTTP status
        HTTP_CODE=$(curl -s -w "%{http_code}" -X POST "http://backend:8000/api/analyze" \
          -F "file=@receipt.jpg;type=image/jpeg" \
          -o vision_result.json)
        
        echo "HTTP Status: $HTTP_CODE"
        
        # Check if request was successful
        if [ "$HTTP_CODE" != "200" ]; then
          echo "ERROR: Backend API returned status $HTTP_CODE"
          cat vision_result.json
          exit 1
        fi
        
        # Validate JSON response
        if ! grep -q "success" vision_result.json; then
          echo "ERROR: Invalid response from backend"
          cat vision_result.json
          exit 1
        fi
        
        echo "Vision Agent analysis complete!"

  - id: stage3_evaluate_fraud
    type: io.kestra.plugin.core.log.Log
    description: "Stage 3: Evaluate fraud risk"
    message: |
      ========================================================================
      STAGE 3 - FRAUD RISK EVALUATION
      ========================================================================
      Fraud Risk: {{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).vision_analysis.fraud_detection.recommendation }}
      ========================================================================

  - id: stage4_policy_engine
    type: io.kestra.plugin.core.log.Log
    description: "Stage 4: Apply policy rules"
    message: |
      ========================================================================
      STAGE 4 - POLICY ENGINE
      ========================================================================
      Status: {{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.status }}
      Claimed: Rs.{{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.total_claimed }}
      Approved: Rs.{{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.total_approved }}
      Deducted: Rs.{{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.total_deducted }}
      ========================================================================

  - id: stage5_generate_report
    type: io.kestra.plugin.core.log.Log
    description: "Stage 5: Generate claim report"
    message: |
      ========================================================================
      STAGE 5 - FINAL CLAIM REPORT
      ========================================================================
      
      CLAIM SUMMARY
      Merchant: {{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).vision_analysis.merchant_name }}
      Diagnosis: {{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).vision_analysis.diagnosis_or_specialty }}
      Status: {{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.status }}
      Claimed: Rs.{{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.total_claimed }}
      Approved: Rs.{{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.total_approved }}
      
      ========================================================================

  - id: stage6_send_notification
    type: io.kestra.plugin.core.log.Log
    description: "Stage 6: Send notification (Mock Email)"
    message: |
      ========================================================================
      STAGE 6 - SEND NOTIFICATION (Mock Email)
      ========================================================================
      
      To: patient@email.com
      From: ClaimGuard AI <claims@claimguard.ai>
      Subject: Your Insurance Claim Decision
      
      Dear Valued Customer,
      
      Your claim has been processed:
      - Merchant: {{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).vision_analysis.merchant_name }}
      - Status: {{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.status }}
      - Approved: Rs.{{ json(read(outputs.stage2_vision_agent.outputFiles['vision_result.json'])).final_decision.total_approved }}
      
      ========================================================================
      ALL 6 STAGES COMPLETE
      ========================================================================
      Powered by Kestra + OpenAI | Assemble Hack 2025
      ========================================================================

errors:
  - id: handle_error
    type: io.kestra.plugin.core.log.Log
    message: |
      PIPELINE ERROR
      An error occurred during claim processing.
      Error Details: {{ task.error }}